<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCroNAOnXW7sNTAOpJ7MIA7HRP1Z0zdW0g</string>
	<key>GCM_SENDER_ID</key>
	<string>108489235173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mamwTask1</string>
	<key>PROJECT_ID</key>
	<string>mamwtask1</string>
	<key>STORAGE_BUCKET</key>
	<string>mamwtask1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108489235173:ios:3a160ea47173040fb6520c</string>
</dict>
</plist>